.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

nav ul{
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 10px;
}
